.bevan-texto {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bevan-texto-italic {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: italic;
  }
  